// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letter {
  font-family: 'Times New Roman', Times, serif;
  color: azure;
  display: inline;
  margin: 8px;
  padding: 13px;
  background-color: rgb(49, 120, 228);
  font-size: xx-large;
}

.question-form {
  font-size: x-large;
}